html, a, input, button{
  color: #fff;
}

html{
  background-color: #131516;
}

#app{
 background-color:  rgb(31, 33, 35);
}

input, button{
background-color: #2b2a33;
border: 1px solid #444;
}

.information, #app, footer{
  border-color: rgb(62, 68, 70);
}

tr:hover{
  background-color: #2b2a33;
}
