* {
    font-family: "Lucida Console", Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
}

#app {
    border: 1px solid #ccc;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    padding: 0.5rem;
    overflow: auto;
}

h1>a {
    text-decoration: underline;
    color: black;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.information {
    text-align: center;
    border: #ccc 1px solid;
    margin-top: 0;
    padding: 1rem;
    max-width: 70%;
}

.contact{
    border: #ccc  1px solid;
    padding: 0.5rem;
}

p.error {
    color: purple;
    text-decoration: underline;
}

#resultDiv {
    width: 100%;
    overflow: auto;
}

#resultTable {
    width: 100%;
    border-collapse: collapse;
}

#resultTable>tr>th {
    border: 2px solid #ccc;
    padding: 0.5rem;
}

#resultTable>tr>td {
    padding: 0.2rem 1rem;
    border: 1px solid #ccc;
}

tr:hover {
    background: #cecece;
}

form {
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

form>* {
    padding: 0.2rem;
    margin: 0.5rem 0;
}

label {
    font-weight: bold;
}

.hidden {
    display: none;
}

#semesterUrlDiv,
#futureUrlDiv {
    max-width: 40rem;
    margin: 1rem;
}

#urlButton {
    margin-top: 5rem;
    max-width: 50%;
}

footer{
    border: #ccc 1px solid;
    margin-top: 1rem;
    text-align: center;
}