@font-face {
  font-family: 'JetBrains Mono';
  src: url('media/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(media/JetBrainsMono-Bold.woff2) format('woff2');
  font-weight: bold;
}

* {
  font-family: JetBrains Mono, monospace;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  border: 1px solid #ccc;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40rem;
  padding: 0.5rem;
  overflow: hidden;
}

.information,
#app,
footer {
  border-color: rgb(62, 68, 70);
}

button:hover {
  background-color: #333;
}

input,
button {
  background-color: #2b2a33;
  border: 1px solid #222;
}

a {
  text-decoration: underline yellow;
  color: yellow;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: white;
  text-decoration-color: white;
}

.information {
  text-align: center;
  border: #ccc 1px solid;
  margin: 0;
  padding: 1rem;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 0.5rem;
  margin: 1rem 0;
}

form>label {
  text-align: right;
}

input:focus, select:focus{
  outline: 1px solid yellow;
}

form>input, form>select, button {
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

label {
  font-weight: bold;
}

/* CGI script errors */
p.error {
  text-decoration: underline purple;
}

p.error::before {
  content: "Fel: ";
  font-weight: bold;
}

p#short-course::after {
  content: "Kurskoden är för kort (minst 5 tecken)";
}

p#no-results::after {
  content: "Inga resultat för kurskoden";
}

/* Make sure the caret is visible only in the input fields */
p,
label,
button,
footer,
a {
  caret-color: transparent;
}

#resultDiv {
  width: 100%;
  overflow: auto;
}

#resultTable {
  border-collapse: collapse;
  width: 100%;
}

#resultTable>tr>th {
  border: 2px solid #ccc;
}

#resultTable>tr>td {
  border: 1px solid #ccc;
  height: 3rem;
  /* Set the same height for all table cells */
}

#resultTable>tr>* {
  padding: 0.5rem;
}

tr:hover {
  background-color: #2b2a33;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

button {
  margin-top: 1rem;
}

#urlDiv {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.info-box {
  vertical-align: center;
  padding: 0.3rem 1rem;
  border: #ccc 1px solid;
  margin-top: 1rem;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 600px) {
  #app {
    width: 97%;
    /* Use a percentage width for smaller screens */
    padding: 0.5rem;
  }

  button {
    width: 100%;
  }

  button {
    padding: 1rem;
  }

}